<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view doctor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container-fluid d-flex justify-content-center">
    <table class="table table-dark table-striped-columns mt-5 style="width:800px">
  <thead>
    <tr>
      
      <th scope="col">doctor id</th>
      <th scope="col">doctor name</th>
      <th scope="col">Specialization</th>
      <th scope="col">hospital</th>
      <th scope="col">email</th>
      <th scope="col">phone</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for i in doc %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.doctor_name}}</td>
      
      <td>{{i.specialization}}</td>
      <td>{{i.hospital}}</td>
      <td>{{i.email}}</td>
      <td>{{i.phone}}</td>
      <td><a href="{% url  'editdoctor' i.id %}"><button>edit</button></a>
      <a href="{% url 'DeleteDoc' i.id %}"><button>delete</button></a>
      </td>
    </tr>
    {% endfor %}
    
    </tr>
    
  </tbody>
</table>
</div>  
</body>
</html>